
  <p>asdasdasdqqqqq<p>


<p>home works!</p>
<p> Kadir ŞENOL </p>
<div style="background-color: blue;">{{titlea}}</div> 
<button type="text" (click)="metot()"></button>
<input type="text" value={{titlea}} >
<p>{{communation}}</p>
<input type="text" [(ngModel)]="metin" >

<input type="text" value={{title}}>
  <input type="text" [value]="title">
  <input type="text" [(ngModel)] = "title">
  <input type="text" [(ngModel)] = "title">
   <p *ngFor="let name of names; let index = index ; let ilk = first">repait deneme {{name}} {{index}} {{ilk}}</p>
   <p *ngIf="false"> ngIf deneme </p>
   <div *ngIf="false ; else referans"> current true </div>
   <ng-template #referans >current false</ng-template>
  
   <div ngSwitch="2"> 
      <div *ngSwitchCase="1" > sayi1 </div>
      <div *ngSwitchCase="2">sayi2</div>
      <div *ngSwitchDefault>Sayi Farkli</div>
   </div>
  
   <input type="text" ngClass={{c1}}>
   <div [ngStyle]="s1" [ngStyle]="" >ngstyle deneme</div>
    
   <div  appExample color={{renk}} > drective deneme </div>

   <div *appStructural="'1';let a = deger" >structtural drective{{a}} </div>
    <div *appStructralIndex="isimler; let names = isimler ; let i = index" >structural drective for index {{names}} {{i}}</div>
    <div >Custom Pipe Denemesi {{ pipe | custom : 2 : 5}}</div>


    <form #frm = "ngForm" (ngSubmit)="submit(frm.value)">
    <input type="text" name="name" placeholder="name" ngModel> <br>
    <input type="text" name="surname" placeholder="surname" ngModel> <br>
    <div ngModelGroup="adress">
      <input type="text" name="il" placeholder="il" ngModel> <br>
      <input type="text" name="ilçe" placeholder="ilçe" ngModel>
    </div>
    <button>submit</button>
    </form>
  

  <form [formGroup]="frmg" (ngSubmit)="submitModelDrevinForm(frmg.value)">
    <input type="text" placeholder="Name" formControlName="name"> <br>
      <div *ngIf="frmg.get('name').errors?.['required'] && (frmg.get('name').dirty || frmg.get('name').touched)">
         Name is required
      </div> 
    <input type="text" placeholder="Surname" formControlName="surname"> <br>
    <div *ngIf="frmg.get('name').errors?.['required'] && (frmg.get('surname').dirty || frmg.get('surname').touched)">
         Surname is required
      </div> 
    <input type="number" placeholder="Yas" formControlName="yas"> <br>
    <div *ngIf="frmg.get('yas').errors?.['required'] && (frmg.get('yas').dirty || frmg.get('yas').touched)">
         Yas is required
      </div> 
      <div *ngIf="frmg.get('yas').errors?.['lessThanFive'] && (frmg.get('yas').dirty || frmg.get('yas').touched)">
          Number should be less than 5
      </div>
    <input type="text" formControlName="password" placeholder="password"> <br>      
    <input type="text" formControlName="passwordConfirm" placeholder="password confirm"><br>
      <div *ngIf="frmg.errors?.['noMatch'] && (frmg.get('passwordConfirm').dirty || frmg.get('passwordConfirm').touched)">
          Passwords is not match
      </div>
      <input type="text" placeholder="inputone" formControlName="inputone"><br>
      <input type="text" placeholder="inputtwo" formControlName="inputtwo"><br>
    <div formGroupName="adress">
      <input type="text" placeholder="İl" formControlName="il"><br>    
      <div *ngIf="frmg.get('adress').get('il').errors?.['noIstanbul']">
          istanbul geçerli değildir
      </div>          
      <input type="text" placeholder="İlçe" formArrayName="ilce"><br>
    </div>
    <button>send</button>
  </form>
  <p>form touched = {{frmg.touched}}<p>
  <p>name control touched = {{frmg.get("name").touched}}<p>
  <br>
  <app-a></app-a>
  <br>
  <app-user-create></app-user-create>
  <br>
  <app-user-read></app-user-read>
  <app-custom></app-custom>
